<include file='Public/header' />
		<div class="study_container clearfix">
			<h1>
				<a href="{:U('home/index/index')}" class="n1">网站首页</a>
				<a href="{:U('home/study/study',array('categroy_id'=>$list['categroy_id']))}" class="n2">{$list1.name}</a>
				<span class="fr">我们长路漫漫，只因学无止境。</span>
			</h1>
			<div class="container-left fl clearfix">
			   <h2 class="c-title">{$list.title}</h2>
			   <p class="c-box">
			   	  <span class="d_time">发布时间：{$list.create_time|date='Y-m-d,H:i:s',###}</span>
			   	  <span>
			   	  	编辑：
			   	  	<a href="">{$list.author}</a>
			   	  </span>
			   	  <span>
			   	  	阅读 {$list.read_num}
			   	  </span>
			   </p>
			   <div class="c-info">
				   	<p>
				   		{$list.description}
				   	</p>
				   	<p>
				   		<img src="__PUBLIC__/home/img/daima.png">
				   	</p>				  
				   <p>				   
						{$list.content|htmlspecialchars_decode}
				   </p>
			   </div>
			   <div class="key">
			   		<p>
			   			<span>关键字</span>:帝国cms,首页,自定义页面,分页
			   		</p>
			   </div>
				<div class="nextinfo">
					<p>
						上一篇:<a href="{:U('home/study/detail',array('id'=>$list3['id']))}">{$list3.title}</a>
					</p>
					<p>
						下一篇:<a href="{:U('home/study/detail',array('id'=>$list4['id']))}">{$list4.title}</a>
					</p>
				</div>
				<div class="otherlink">
					<h2>相关文章</h2>
					<ul class="clearfix">
						<li>
							<a href="">帝国cms常用标签调用方法总结（不得不收藏哦）</a>
						</li>
						<li>
							<a href="">帝国cms怎样修改列表分页函数</a>
						</li>
					</ul>
				</div>
			   <div class="page">
					<a class="first" href="">168</a>
					<a href="">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">></a>
					<a href="">>></a>
			   </div>
			   <div class="content floatl">
					<ul class="content_ul_top clearfix">
						<li class="fontsizemiddle"><p class="top_command">被顶起来的评论</p></li>
						<foreach name='list9' item='value1'>
						<li>
							<p class="floatl"><a href=""><img src="__PUBLIC__/home/img/4.jpg" width="50" height="50"></a></p>
							<p class="fontsizesmall">yanbh</p>
							<p>{$value1.content}</p>
							<p class="fontsizesmall">
								<span>2月24日</span>
								<span>回复</span> 
								顶<span class='ding_top'>{$value1.top}</span> 
								<span>转发</span>
							</p>
						</li>
						</foreach>
					</ul>
					<div class="content_middle clearfix">
						<ul class="floatl clearfix">
							<li class="p_middle_lifirst"><a href=""><span>{$num}</span>条评论</a></li>
						<!-- 	<li><a href=""><span>10</span>条新浪微博</a></li>
					 		<li><a href=""><span>6</span>条新浪微博</a></li> -->
						</ul>
						<ul class="floatr clearfix">
							<li><span><a href="">最新</a></span></li>
							<li><a href="">最早</a></li>
							<li><a href="">最热</a></li>
						</ul>
					</div>
					<ul class="content_ul_center">	
						<foreach name='list8' item='value2'>			
						<li>
							<p class="floatl"><a href=""><img src="__PUBLIC__/home/img/7.jpg" width="30" height="30"></a></p>
							<p class="fontsizesmall">yanbh</p>
							<p>{$value2.content}</p>
							<p class="fontsizesmall">
								<span>2月24日</span> 
								<span>回复</span> 
								顶<span class='ding_top2'>{$value2.top}</span> 
								<span>转发</span>
							</p>
						</li>
						</foreach>
					</ul>
					<div class="content_bottom">
						<ul class="floatr clearfix">
							<li><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li class="dian">...........</li>
							<li><a href="">102</a></li>
						</ul>
					</div>
					<ul class="share clearfix">
						<li>社交登录账号：</li>
						<li><a href="">微信</a></li>
						<li><a href="">微博</a></li>
						<li><a href="">QQ</a></li>
						<li><a href="">人人</a></li>
						<li><a href="">更多》</a></li>
					</ul>
					<div class="toursaid">
						<a href=""><img src="__PUBLIC__/home/img/2.jpg"></a>
					<form action="{:U('home/liuyan/huifu')}" method='post'>
						<input type="text" name='content'>
						<p class="anounce">
							<span class="floatr"><input type='submit'></span>
						</p>
						<input class='id_top' type='hidden' name='blog_id' value='{$list.id}'>
					</form>
						<p class="floatr fontsizesmall">杨青个人微博网站正在使用多说</p>	
					</div>
			   </div>
			</div>
			<div class="content_r fl">
				<form>
					<input type="text" value="请输入关键字"class="input">	
					<button>搜索</button>
				</form>
				<div class="nav">
					<ul>
						<foreach name='list7' item='vo'>
						<li class="nav1">
							<a href="{:U('home/study/study',array('categroy_id'=>$vo['id']))}">{$vo.name}</a>
						</li>
						</foreach>
					</ul>
				</div>
				<h4 class="right-top"><p>最新<span>文章</span></p></h4>
				<ul class="news news1">
					<foreach name='list5' item='vo1'>
					<li><a href="{:U('home/study/study',array('id'=>$vo1['id']))}">{$vo1.title}</a></li>
					</foreach>
				</ul>
				<h4><p>模板<span>排行</span></p></h4>
				<ul class="news news2">
					<foreach name='list6' item='vo2'>
					<li><a href="{:U('home/study/study',array('id'=>$vo2['id']))}">{$vo2.title}</a></li>
					</foreach>
				</ul>
				
			</div>
		</div>
		<div class="footer conmwidth">
			<div class="footer_mid conmwidth_10">
				<span class="footer_info">Design by DanceSmile</span>
				<a class="footer_a" href="">蜀ICP备11002373号-1</a>
			</div>
		</div>
<script type="text/javascript">
	$(function(){
		$('.ding_top').click(function(){
			var num = $(this).html();  //不止一个ding_top
			var id = $('.id_top').attr('value');
			var that = $(this);
			$.ajax({
				url:"{:U('home/study/top')}",
				data:{'num':num,'id':id},
				type:'post',
				dataType:'json',
				success:function(arr){
					that.html(arr.top);
				}
			});
		});
		$('.ding_top2').click(function(){
			var num = $(this).html();
			var id = $('.id_top').attr('value');
			var that = $(this);
			$.ajax({
				url:"{:U('home/study/top')}",
				data:{'num':num,'id':id},
				dataType:'json',
				type:'post',
				success:function(arr){
					that.html(arr.top);
				}
			});
		});
	})
</script>
</body>
</html>
