<include file='Public/header' />
		<div class="container clearfix">
			<h1>
				<a href="" class="n1">网站首页</a>
				<a href="" class="n2">慢生活</a>
				<span class="fr">删删写写，回回忆忆，虽无法行云流水，却也可碎言碎语。</span>
			</h1>
			<div class="d20"></div>
			<ul class="dateview">
				<li>
					<div class="dataciew_list">
						<p class="dataciew_list_text clearfix"><img class="fl" src="__PUBLIC__/home/img/img1.jpg" alt="">生活的坑都是自己挖的！譬如，听别人讲话，听到最后，耳朵里只会记住两类话：最愿意听的和最不愿意听的。然后，喜欢听的未必化成快乐，但不喜欢听的一定化成了痛苦，其他的都化成了风。</p>
						<div class="triangle"></div>
						<div class="circle"></div>
						<div class="note">2015-02-01</div>
					</div>
				</li>
				<li>
					<div class="dataciew_list">
						<p class="dataciew_list_text clearfix"><img class="fl" src="__PUBLIC__/home/img/img1.jpg" alt="">生活的坑都是自己挖的！譬如，听别人讲话，听到最后，耳朵里只会记住两类话：最愿意听的和最不愿意听的。然后，喜欢听的未必化成快乐，但不喜欢听的一定化成了痛苦，其他的都化成了风。</p>
						<div class="circle"></div>
						<div class="note">2015-02-01</div>
					</div>
				</li>
			</ul>
			<div class="page">
				<a class="first" href="">168</a>
				<a href="">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">></a>
				<a href="">>></a>
			</div>
		</div>
		<div class="footer conmwidth">
			<div class="footer_mid conmwidth_10">
				<span class="footer_info">Design by DanceSmile</span>
				<a class="footer_a" href="">蜀ICP备11002373号-1</a>
			</div>
		</div>
	</body>
</html>
