							 .container {
							 	margin: 20px auto;
							 	width: 1000px;
							 }
							 .container h1 {
							 	height: 40px;
							 	line-height: 40px;
							 	border-bottom: 1px solid #f1f1f1;
							 	font-size: 12px;
							 	font-weight: normal;
							 }
							 .container h1 a{
							 	display: block;
							 	float: left;
							 	width: 100px;
								text-align: center;
								color: #fff;
							 }
							 .n1 {
							 	background-color: #5EA51B;
							 }
							 .n2 {
							 	background-color: #8BBF5D;
							 }
							 .container h1 span {
							 	color: #999;
							 }
							 .container-left {
							 	margin: 10px 0;
							 	width: 740px;
							 	background: url(../img/r_line.jpg) repeat-y right;
							 }
							 .container-left h2 {
							 	margin: 20px 0 10px 0;
							 	color: #333;
							    font-size: 14px;
							    clear: both;
							 }
							 .container-left h2 a {
							 	text-decoration: none;
							 	color: #333;
							 }
							 .container-left p {
							 	margin-bottom: 10px;
							 }
							 .container-left p span {
							 	margin: 0 10px 0 0;
							 }
							 .container-left span a {
							 	color: #63B120;
							 }
							 .container-left figure img {
							 	padding: 4px;
							 	width: 170px;
   							 	border: #EAE6E7 1px solid;
							 }
							 .container-left-right {
							 	margin: 0 0 0 10px;
								float: left;
							 	width: 530px;
							    line-height: 1.9;
							 }
							 .container-left-right a {
							 	float: right;
							 	margin: 20px 0 0 0;
							 	padding: 5px 10px;
							 	background: #f90;
							    color: #fff;
							 }
							 .line{
							 	width: 97%;
    							height: 20px;
    							border-bottom: 1px dashed #ccc;
							 }
							 .page {
								margin-top: 20px;
								text-align: center;
							}
							.page a {
								display: inline-block;
								width: 30px;
								height: 30px;
								line-height: 30px;
								border-radius: 100%;
								border: 1px solid #999;
								color: red;
							}
							.page a:hover {
								background-color: #999;
							}
							.page .first {
								color: #666;
								font-weight: bold;
							}
							 .content_r {
								padding-left: 10px;
								padding-right: 10px;
								width: 240px;
								margin-top: 20px;
								text-align: center;	
							}
							.content_r h4 {
								margin-top: 20px;
								margin-bottom: 10px;
								text-align: left;
								background: url(../img/r_title_bg.jpg)repeat-x center;
							}
							.content_r .right-top {
								margin-top: 165px;
								margin-bottom: 10px;
								text-align: left;
								background: url(../img/r_title_bg.jpg)repeat-x center;
							}
							.content_r h4 p {
								display: inline-block;
								width: 60px;
								background-color: #fff;
							}
							.content_r h4 p span {
								color: green;
							}
							.news {
								margin-bottom: 20px;
								text-align: left;
								font-size: 12px;
								color: #000;
							}
							.news li {
								text-indent: 8px;
								line-height: 30px;
								/*text-indent: 15px;*/
							}
							.news2 li {
								text-indent: 23px;
								border-bottom: #CCC dotted 1px;
							}
							.news1 li {
								background: url(../img/li.jpg)no-repeat left center;
							}
							.news li a {
								color: #000;
							}
							.news li a:hover {
								text-decoration: underline;
							}
							.news2 {
								background: url(../img/ph.jpg)no-repeat left 8px;
							}
							.nav {
								position: fixed;
								margin-top: 20px;
								width: 250px;
							    overflow: hidden;
							    background: #fff;
							    z-index: 1;
							}
							.nav ul li {
								list-style: none;
								width: 120px;
							    text-align: center;
							    display: inline-block;
							    margin-bottom: 5px;
							    margin-right: 5px;
							    float: left;
							    height: 40px;
							    line-height: 38px;
							}
							.nav ul li a {
								display: block;
								color: #000;
								border: 1px #eee solid;

								transition:all 0.4s ease-in-out;
							
							    -webkit-transition:all 0.4s ease-in-out;
						
							    -moz-transition:all 0.4s ease-in-out;
							
							    -o-transition:all 0.4s ease-in-out;
							}
							.nav ul li a:hover{
								background: rgba(255,255,255,0.4);
							    -webkit-transform:rotate(360deg);
							
							    -moz-transform:rotate(360deg);
							
							    -o-transform:rotate(360deg);
							
							    -ms-transform:rotate(360deg);

							  }
							.nav1 {
								background: #fff;
							}
							.nav2 {
								background: #fff;
							}
							.nav3 {
								background: #fff;
							}
							.nav4 {
								background: #fff;
							}
							button{
								height: 34px;
    							width: 50px;
    							line-height: 34px;
								background: #9bbb59;
								color: #fff;
								border:1px solid #9bbb59;
							}
							input {
								height: 28px;
    							line-height: 28px;
    							
							    font-family: Arial,SimSun,sans-serif;
							    color: #a6a6a6;
							    font-size: 14px;
							    border-radius: 0px;
							    background-color: #FFFFFF;
							}
