html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
html,body {
	font: 12px "宋体", Arial, Helvetica, sans-serif;
    color: #756F71;
}
img {
	border: none;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
input,select,textarea {
	outline: none;
}
textarea {
	resize: none;
}
.clearfix:after {
	height: 0;
	content: "";
	display: block;
	clear: both;
	zoom: 1;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
div.conmwidth {
	margin: 0 auto;
	width: 100%;
}
.conmwidth_10 {
	margin: 0 auto;
	width: 1000px;
}
.conmwidth_12 {
	margin: 0 auto;
	width: 1200px;
}
.d10 {
	width: 100%;
	height: 10px;
}
.d20 {
	width: 100%;
	height: 20px;
}
.d30 {
	width: 100%;
	height: 30px;
}
.display_none {
	display: none;
}
.display_block {
	display: block;
}

/*头部header*/
.header {
	height: 80px;
}
.logo {
	margin-top: 10px;
}
.header_r {
	margin-right: 20px;
	height: 80px;
	font-family: "微软雅黑";
	font-size: 18px;
} 
.header_r li {
	margin-top: 25px;
	float: left;
	padding: 0 15px;
}
.sub {
	display: block;
	margin-top: -15px;
	width: 100%;
	opacity: 0;
	font-size: 12px;
	color: #999;
	font-family: Georgia;
	text-align: center;
}
.show_bar {
	opacity: 1;
	margin-top: 0;
	transition: all .1s ease-in;
}
.hide_bar {
	opacity: 0;
	margin-top: -15px;
	transition: all .1s ease-in;
}
/*底部footer*/
.footer {
	height: 40px;
	line-height: 40px;
}
.footer_mid {
	border-top: 1px solid #ccc;
	text-align: center;
	font-family: "宋体";
}
.footer_info {
	font-size: 10px;
	color: #999;
}
.footer_a {
	font-size: 12px;
	color: #333;
}